.join-section {
    margin-top: 150px;
}
.join {
    border-radius: 32px;
    width: 968px;
    background-color: #02897A;
     @include Display($ITEMS:start,$JUSTIFY:space-between,$GAP:0px);
}
.join__title-wrapper {
    padding: 49px;
    width: 500px;
}
.join__title {
    margin-bottom: 80px;
    @include Textstyle($CLR:white,$FW:600,$FS:32px,$LH:151%);
}
.join__btn {
    padding: 10px 34px;
    border: 2px solid white;
    border-radius: 8px;
    @include Textstyle($CLR:#02897A,$FW:600,$FS:20px,$LH:100%);
    transition: all 0.3s;
    &:hover{
        background-color: #02897A;
        color: white;
    }
}

@media (max-width:1020px){
    .join{
         @include Display($ITEMS:center,$JUSTIFY:center,$GAP:32px);
        flex-direction: column;
        width: 80%;
    }
    .join__title-wrapper {
        text-align: center;
        padding: 0px;
        width: 100%;
        padding-top: 17px;
    }
}